<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Solway&display=swap" rel="stylesheet">    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/restaurantStyles.css">
</head>
<body>
    <header>
        <!-- rendered by restaurant.js, through Restaurant's renderHeader()  -->
        <h1 id="title"></h1>
        <nav class="navbar nav-tabs">
            <!-- populated through Restaurant's getNav() -->
        </nav>
        <div
        id="jumbo"
        class="jumbotron jumbotron-fluid py-7 m-0"
        style=
            "opacity: 0.8;
            color: white;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">
            <!-- populated through Restaurant's getJumbo() by finding main announcement -->    
            <!-- The Jumbotron is specific to the HomePage,
                so its getJumbo() is invoked through Restaurant's renderHome() -->    
        </div>
        <div id="announcements" class="carousel slide mt-2" data-ride="carousel">
            <!-- populated through Restaurant's getCarousel(), looping through Announcement[] -->
        </div>           
    </header>
    <main style=
        "display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;">
        <!-- rendered by restaurant.js, through Restaurant's renderHome() -->
        <img style=
            "width: 450px;
            height: 150px;"
            src="../../public/assets/Restaurant.jpg"/>
        <p id="description" style="max-width: 450px;"></p>
    </main>
    <footer>
        <!-- rendered by restaurant.js, through Restaurant's renderFooter()  -->
        <div class="text-center"><em>This site is best viewed with JavaScript enabled</em></div>
    </footer>
    <script src="../../scripts/restaurant.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>

